@using ImageTextExtraction.Controllers
@using ImageTextExtraction.Models
@model FileUploadFormModel

@{
    ViewData["Title"] = "Home Page";
}
 
<script
	src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous">
</script>
<script src="~/js/site.js"></script>
		

<div class="text-center">
    <h1 class="display-4">Image Text Extraction Utility</h1>
    <h2>Simply upload your image below to get started...</h2>
</div>
<hr />

@*<input type="hidden" id="signedURL" value=@ViewData["signedURL"]/>
<div class="text-center" id="form-container">
    <form method="post" id="aws_upload_form" enctype="multipart/form-data">
        <label for="userFile">Upload an image:</label><br /><br />
        <input type="file" id="imageInput" name="userFile" class="button"/><br /><br />
        <input type="submit" value="Upload" OnClick="SubmitBtn_Click" class="button" id="submitBtn"/>
    </form>
</div>
<hr />*@

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="@Model.FormFile" type="file"/>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="button" type="submit" value="Upload" />
 </form>

<hr />

<div class="text-container">
    <textarea rows="10" cols="100" id="extracted-text" value=@ViewData["result"]></textarea>
</div>

<div class="button-container">
    <input type="button" value="Export to .docx" id="exportDOCX" class="button"/>
    <input type="button" value="Export to .pdf" id="exportPDF" class="button"/>
</div>
<hr />

